/*
Mobile web development
Assignment1: Feedback
Created by: Xinghua Li
Date: Oct. 1, 2019
*/

label.error{
    color: red;
    font-weight: bold;
}

body header{
    background-color: #212121;
}
body header h4{
    font-weight: bold;
    color:white;
    width: 100%;
    align-content: center;
    padding-top: 20px;
}

#xhlModifyAddUpdate1{
    width: 80px;
    font-size: 70%;
    float:left;
    background-color:blue;
    color: white;
}

#xhlModifyAddDelete1{
    width: 80px;
    font-size: 70%;
    float:left;
     background-color: black;
     color: white;
}

#xhlModifyAddCancel1{
    width: 80px;
    font-size: 70%;
    float:left;
    background-color: yellow;
    color: white;
}

#xhlModifyAddUpdate2{
    width: 80px;
    font-size: 70%;
    float:left;
    background-color:blue;
    color: white;
}

#xhlModifyAddDelete2{
    width: 80px;
    font-size: 70%;
    float:left;
    background-color: black;
    color: white;
}

#xhlModifyAddCancel2{
    width: 80px;
    font-size: 70%;
    float:left;
    background-color: yellow;
    color: white;
}


footer h4{
    background-color: #212121;
    font-weight: bold;
    color:white;
}

#xhlAddSave{
    width: 80px;
    font-size: 70%;
    float:left;
    background-color: blue;
    color: white;
}



#xhlSaveDefaults{
    background-color: blue;
    color: white;
}

#xhlClearDatabase{
    background-color: black;
    color: white;
}